button{
    background-color: #7B71BF;
    border: solid rgb(134, 121, 153);
    color: white;
    border-radius:15px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 2px 1px;
    cursor: pointer;
}

button:hover{
    outline: none;
    border: 1px solid #708AFF;
    box-shadow: 0px 0px 8px #708AFF;
    -moz-box-shadow: 0px 0px 8px #708AFF;
    -webkit-box-shadow: 0px 0px 8px #708AFF;
}



body{
    text-align: center;
}